
*{
   
    margin:0px;
    padding:0px ;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content:space-around;
    align-items: center;
    min-height:12vh ;
    background-color:rgb(163, 59, 59);
    font-family: 'Poppins,sans-serif';
}
.logo{
    color: rgb(226,226,226);
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width:30%;
}
.nav-links li{
    list-style: none;
    text-transform: uppercase;
}
.nav-links a{ 
  color: rgb(59, 145, 224);  
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  transition: 0.5s;
  
}
.nav-links a:hover{
    background-color:rgb(163, 59, 59);  
     color:rgb(59, 145, 224);
     line-height:50px;
     transform: scale(1.2);
  }



.burger{
    display: none;
    cursor: pointer;
} 
.burger div{
  width: 25px;
  height: 3px;
  background-color:blueviolet;
  margin: 5px;
  transition: all 0.3s ease;

}



@media screen and (max-width:1024px)
{
    .nav-links{
      width: 60%; 
      }   
   }
@media screen and (max-width:768px)
{
 body{
  overflow-x: hidden;
   }
 .nav-links{
  position: absolute;
  right: 0px;
  height: 92vh;
  top: 8vh; 
  background-color: #0a0a0a;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  transform: translateX(100%);
  transition: transform 0.5s ease-in;
 }
 .nav-links li{
     opacity: 0;

 }
 .burger{
    display: block; 
 }
}

.nav-active{
  transform: translateX(0%);   
}
@keyframes navLinkFade{
    from{
          opacity:0;
          transform:translateX(50px) ;
    }
     to{
        opacity: 1;
        transform:translateX(0px) ;
    }
}
.toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);

}
.overlay{
    width: 0;
    height:0;
    border-top: 500px solid  rgb(202, 204, 91);
    border-right: 500px solid transparent ;
    border-bottom: 500px solid  rgb(177, 206, 48);
    border-left: 500px solid  rgb(204, 219, 67);
    position: absolute;
    left: 0;
    top: 99px;
}
.myphoto{
    width:30px;
    height: 30px;
    position: absolute;
    left:5%;
    top:30%;
    border-radius: 60%;

}
.content {
  width: 100vw;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.slider-wrapper{
  font-size: 30px;
  font-weight:bold;
  font-family:'Playball', cursive; 
  font-style: italic;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: azure;

}
.slider{
  height: 50px;
  padding-left: 15px ;
  overflow: hidden;

}
.slider div{
 height: 50px;
 margin-bottom: 50px;
 padding: 2px 15px;
 text-align: center;
 box-sizing: border-box;


}
.slider-text1{
 background-color: lightcoral;
 animation: slide 5s linear infinite;    
}
.slider-text2{
    background-color: rgb(216, 173, 53);    
   }
 .slider-text3{
    background-color: rgb(148, 43, 101);    
   }
  @keyframes slide{
      0% {margin-top: -300px;}
      5% {margin-top: -200px;}
      33% {margin-top: -200px;}
      38% {margin-top: -100px;}
      66% {margin-top: -100px;}
      71% {margin-top:0px;}
      100% {margin-top: 0px;}
      

  } 